{% extends 'account/base.html' %}

{% block title %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-3">Cấp mật khẩu mới</h5>
                        <form action="forgot-password" method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="container-fluid p-0">
                                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                            {{ message }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com" name="email" required>
                                <label for="floatingInput">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                {{captcha.as_p}}
                            </div>
                            <br>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Cấp mật khẩu mới</button>
                            </div>
                            <hr class="my-4">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a class="btn btn-outline-primary btn-login text-uppercase fw-bold" type="submit"
                                    href="/login">
                                    <i class="fab fa-facebook-f me-2"></i>Đăng nhập
                                </a>
                                <a class="btn btn-outline-primary btn-login text-uppercase fw-bold" type="submit"
                                    href="/register">
                                    <i class="fab fa-facebook-f me-2"></i>Đăng ký
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}