{% extends 'base.html' %}

{% block title %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Website Đấu giá trực tuyến PTIT</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <form action="/search/1" method="get" class="d-flex">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchInput" placeholder="Tìm kiếm" name="keyword">
                        <button class="btn btn-outline-secondary">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </ul>
            {% if not request.session.email%}
            <form class="d-flex" action="/login" method="get">
                <button class="btn btn-outline-dark" type="submit">
                    Đăng nhập
                </button>
            </form>
            <form class="d-flex" action="/register" method="get">
                <button class="btn btn-secondary" type="submit">
                    Đăng ký
                </button>
            </form>
            {% endif %}

            {% if request.session.email %}
            <div class="dropdown mx-2">
                <button class="btn btn-outline-secondary position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-chat-square-dots"></i>
                    {% if request.session.alerts %}
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden">Thông báo</span>
                    </span>
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                    {% for alert in request.session.alerts %}
                    <li><a class="dropdown-item" href="/info/{{request.session.email}}">{{request.session.email}}</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/info/{{request.session.email}}">{{request.session.email}}</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/info/{{request.session.email}}">Thông tin cá nhân</a></li>
                    <li><a class="dropdown-item" href="/change-password">Đổi mật khẩu</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/history/{{request.session.email}}">Phiên đã tạo</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                </ul>
            </div>
            <div class="fixed-bottom d-flex justify-content-end" style="margin-right: 3%; margin-bottom: 5%;">
                <a class="btn btn-outline-secondary mx-6" href="/create-auction"> 
                    <i class="bi-plus-circle"></i> Tạo buổi đấu giá </a>
            </div>
            
            {% endif%}
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Đấu giá PTIT</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bao uy tín - Giao dịch an toàn</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    {% if messages %}
    {% for message in messages %}
    <div class="container my-3">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for auction in auctions%}
            <div class="col mb-5">
                <div class="card h-100 w-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/{{auction.item.img}}" alt="..." width="300"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{auction.item.item_name}}</h5>
                            <!-- Product price-->
                            <p>Khởi điểm: {{auction.item.first_price}} VND</p>
                            <hr>
                            Từ
                            <input class="form-control" type="datetime-local" disabled="true"
                                value="{{auction.time_begin|date:'Y-m-d'}}T{{auction.time_begin|time:'H:i:s'}}">
                            Đến
                            <input class="form-control" type="datetime-local" disabled="true"
                                value="{{auction.time_end|date:'Y-m-d'}}T{{auction.time_end|time:'H:i:s'}}">
                            

                            
                        </div>
                    </div>
                    <!-- Product actions-->
                    {% if not auction.item.winner %}
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-primary mt-auto" href="/auction/{{auction.auction_id}}">Tham gia ngay</a></div>
                    </div>
                    {% endif %}

                    {% if auction.item.winner %}
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-secondary mt-auto" href="/auction/{{auction.auction_id}}">Chi tiết</a></div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}