{% extends 'base.html' %}

{% block title %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Website Đấu giá trực tuyến PTIT</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <form action="/search/1" method="get" class="d-flex">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchInput" placeholder="Tìm kiếm" name="keyword">
                        <button class="btn btn-outline-secondary">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </ul>
            {% if not request.session.email%}
            <form class="d-flex" action="/login" method="get">
                <button class="btn btn-outline-dark" type="submit">
                    Đăng nhập
                </button>
            </form>
            <form class="d-flex" action="/register" method="get">
                <button class="btn btn-secondary" type="submit">
                    Đăng ký
                </button>
            </form>
            {% endif %}

            {% if request.session.email %}
            <div class="dropdown">
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/info">{{request.session.email}}</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/info">Thông tin cá nhân</a></li>
                    <li><a class="dropdown-item" href="/change-password">Đổi mật khẩu</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/history/{{request.session.email}}">Phiên đã tạo</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                </ul>
            </div>
            <div class="fixed-bottom d-flex justify-content-end" style="margin-right: 3%; margin-bottom: 5%;">
                <a class="btn btn-outline-secondary mx-6" href="/create-auction">
                    <i class="bi-plus-circle"></i> Tạo buổi đấu giá </a>
            </div>
            {% endif%}
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Đấu giá PTIT</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bao uy tín - Giao dịch an toàn</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="container py-5">
    {% if messages %}
    {% for message in messages %}
    <div class="container my-3">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if request.session.email == info.email %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-secondary mb-4">
                <div class="card-body text-center">
                    <img avatar="{{info.email}}" alt="avatar" width="200" height="200">
                    <h5 class="my-3">{{info.email}}</h5>
                    <p class="text-muted mb-1">{{info.last_name}} {{info.first_name}}</p>
                    <p class="text-muted mb-1">Tham gia: {{info.time_create}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card border-secondary mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Họ tên</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{info.last_name}} {{info.first_name}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{info.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Điện thoại</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{info.phone}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Căn cước công dân</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{info.id_code}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Mã số thuế</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{info.tax_code}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Thông tin thêm</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text-muted mb-0">{{info.detail}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-tittle">Thông tin thẻ ngân hàng</h4>
                    {% if not credit_cards %}
                    <div class="row">
                        <p class="text-muted mb-0">Chưa liên kết thẻ ngân hàng,
                            Liên kết ngay
                            <a href="add-credit-card" class="btn btn-outline-primary">
                                Tại đây</a>
                        </p>
                    </div>
                    {% endif%}

                    {% if credit_cards %}
                    {% for card in credit_cards %}
                    <div class="card border-primary mb-6">
                        <div class="card-body">
                            <h5 class="card-tittle">{{ card.card_code }}</h5>
                            <div class="col-sm-6">
                                <h5 class="mb-0">{{ card.bank }}</h5>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="mb-0">{{ card.card_name }}</h5>
                            </div>
                            {% if card.is_verified == 0 %}
                            <div class="col-sm-6">
                                <p class="text-danger mb-0">Chưa hoàn thành liên kết</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <hr>
                    <div class="row my-2 mb-6">
                        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#add-card">
                            <i class="bi-plus-circle"></i> Liên kết thẻ
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-tittle">Lịch sử tham gia</h4>
                    {% if not auctions %}
                    <div class="row">
                        <p class="text-muted mb-0">Chưa tham gia phiên đấu giá nào</p>
                    </div>
                    {% endif %}

                    {% if auctions %}
                    {% for auction in auctions%}
                    <div class="card border-danger mb-6">
                        <div class="card-body">
                            <h5 class="card-tittle">{{auction.item.item_name}}</h5>
                            <div class="col-sm-6">
                                <p class="mb-0">{{auction.item.creater.email}}</p>
                            </div>

                            {% if auction.item.creater.email == info.email %}
                            <div class="col-sm-6">
                                <p class="fw-bold mb-0"> Tạo phiên </p>
                            </div>
                            {% endif %}

                            {% if auction.winner.email == info.email %}
                            <div class="col-sm-6">
                                <p class="fw-bold mb-0"><i class="bi bi-star-fill" style="color: yellow;"></i> Thắng đấu
                                    giá </p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    {% if request.session.email != info.email %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-secondary mb-4">
                <div class="card-body text-center">
                    <img avatar="{{info.email}}" alt="avatar" class=class="rounded-circle img-fluid" width="200"
                        height="200">
                    <h5 class="my-3">{{info.email}}</h5>
                    <p class="text-muted mb-1">{{info.last_name}} {{info.first_name}}</p>
                    <p class="text-muted mb-1">Tham gia: {{info.time_create}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card border-secondary mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Họ tên</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{info.last_name}} {{info.first_name}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{info.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Thông tin thêm</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text-muted mb-0">{{info.detail}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-secondary mb-6">
                <div class="card-body">
                    <h4 class="card-tittle">Lịch sử tham gia</h4>
                    {% if not auctions %}
                    <div class="row">
                        <p class="text-muted mb-0">Chưa tham gia phiên đấu giá nào</p>
                    </div>
                    {% endif %}

                    {% if auctions %}
                    {% for auction in auctions%}
                    <div class="card border-danger mb-6">
                        <div class="card-body">
                            <h5 class="card-tittle">{{auction.item.item_name}}</h5>
                            <div class="col-sm-6">
                                <p class="mb-0">{{auction.item.creater.email}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>

<!-- Modal -->
<form action="/add-card" method="post">
    {% csrf_token %}
    <div class="modal fade" id="add-card" tabindex="-1" aria-labelledby="add-card" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Liên kết thẻ</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="bankSelect" placeholder="..." name="bank" required>
                            <option value="AGRIBANK" selected>AGRIBANK</option>
                            <option value="MBBANK">MBBANK</option>
                            <option value="SACOMBANK">SACOMBANK</option>
                        </select>
                        <label for="bankInput">Nhập ngân hàng</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="numberInput" placeholder="..." name="card-code"
                            required>
                        <label for="bankInput">Nhập số thẻ</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nameInput" placeholder="..." name="card-name"
                            required>
                        <label for="bankInput">Nhập tên thẻ</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}